#myCarousel.carousel.slide
  .carousel-inner
    - (1..19).to_a.shuffle[0..3].each_with_index do |artitem, i|
      .item{:class => i == 0 ? 'active' : ''}
        %img{:src => "/img/art-" + sprintf("%03d", artitem) + ".jpg", :alt => "Generative art by Michael Lascarides"}
  %a.carousel-control.left{:href => "#myCarousel", "data-slide".to_sym => "prev"}
    = '&lsaquo;'
  %a.carousel-control.right{:href => "#myCarousel", "data-slide".to_sym => "next"}
    = '&rsaquo;'

%h3
  Generative art

%p
  Since 2009, I have been creating prints and video with my own custom software written in the Ruby language. The images are vector graphics in the SVG file format, meaning the original files can be scaled up to any size (but they're presented on this site in bitmap form). They usually contain somewhere between 50,000 and 500,000 individual shapes, and I've made tens of thousands of images.

%p
  I keep an occsionally-updated portfolio of recent work on Instagram at <a href="https://www.instagram.com/asemic.cartography/">asemic.cartography</a>.
