<p>This web site has been built with some of my favorite tools out there.</p>

<p>On the front end, I'm using the Twitter Bootstrap toolkit, which makes for a great starting point on the HTML/CSS/Javascript front. I'm using JQuery, served from Google's servers to minimize my bandwidth load. I'm using Sass for stylesheets to make my life a bit easier, since I almost always hand-code all of my CSS (lately using the Sublime Text 2 editor, though the quest for the perfect editor never ends).</p>

<p>I am also using two font families from Google's web fonts collection. The headlines are Oswald (normal and bold), while the body text is Rokkitt.</p>

<p>On the back-end, while Rails is usually my tool of choice, it seemed like overkill for this little site (too many folders to deploy... what a hassle for a few pages!). Instead, I've chosen to make the site a super-simple Sinatra app, largely to give myself easy custom addresses, easy-to-configure error pages, a simple templating system (Sinatra's default Thin/Erb setup), and room to grow in the future.</p>

<p>Deployment is automated with git, Rack, and Capistrano, and the whole thing is pushed to Heroku. I've made the source code available on Github if you want to have a look.</p>

