<p>This web site has been built with some of my favorite tools out there.</p>

<p>On the front end, I'm using the <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> toolkit, which makes for a great starting point on the HTML/CSS/Javascript front. I'm using <a href="http://jquery.com/">JQuery</a>, <a href="https://developers.google.com/speed/libraries/devguide">served from Google's servers</a> to minimize my bandwidth load. I'm using <a href="http://sass-lang.com/">Sass</a> for stylesheets to make my life a bit easier, since I almost always hand-code all of my CSS (lately using the <a href="http://www.sublimetext.com/2">Sublime Text 2</a> editor, though the quest for the perfect editor never ends).</p>

<p>I am also using two font families from <a href="http://www.google.com/webfonts">Google's web fonts collection</a>. The headlines are <a href="http://www.google.com/webfonts/specimen/Oswald">Oswald</a> (normal and bold), while the body text is <a href="http://www.google.com/webfonts/specimen/Rokkitt">Rokkitt</a>.</p>

<p>On the back-end, while <a href="http://rubyonrails.org/">Rails</a> is usually my tool of choice, it seemed like overkill for this little site (too many folders to deploy... what a hassle for a few pages!). Instead, I've chosen to make the site a super-simple <a href="http://www.sinatrarb.com/">Sinatra</a> app, largely to give myself easy custom addresses, easy-to-configure error pages, a simple templating system (Sinatra's default Thin/Erb setup), and room to grow in the future.</p>

<p>Deployment is automated with <a href="http://git-scm.com/">git</a> and <a href="http://rack.github.com/">Rack</a>, and the whole thing is pushed to <a href="http://www.heroku.com/">Heroku</a>. I've made the source code available on <a href="https://github.com/lascarides">Github</a> if you want to have a look.</p>

