%table.table
	%tr
		%td
			Email
		%td
			%a{:href => "mailto:mlascarides@gmail.com"}
				mlascarides@gmail.com
	%tr
		%td
			Twitter
		%td
			%a{:href => "http://twitter.com/mlascarides"}
				@mlascarides
	%tr
		%td
			Flickr
		%td
			%a{:href => "http://www.flickr.com/photos/21201950@N07/"}
				michaellascarides
	%tr
		%td
			Vimeo
		%td
			%a{:href => "http://vimeo.com/lascarides"}
				lascarides
	%tr
		%td
			Github
		%td
			%a{:href => "https://github.com/lascarides"}
				lascarides
	%tr
		%td
			Delicious
		%td
			%a{:href => "http://www.delicious.com/mlas"}
				mlas
	%tr
		%td
			LinkedIn
		%td
			%a{:href => "http://www.linkedin.com/in/lascarides"}
				lascarides
	%tr
		%td
			Tumblr
		%td
			%a{:href => "http://lascarides.tumblr.com/"}
				lascarides
	%tr
		%td
			Facebook
		%td
			Friends only, please.
	%tr
		%td
			Résumé/CV
		%td
			%a{:href => "/assets/pdf/michael-lascarides-cv.pdf"}
				PDF
