<table class="table">

	<tr>
		<td>Email</td>
		<td><a href="mailto:mlascarides@gmail.com">mlascarides@gmail.com</a></td>
	</tr>

	<tr>
		<td>Twitter</td>
		<td><a href="http://twitter.com/mlascarides">@mlascarides</a></td>
	</tr>

	<tr>
		<td>Flickr</td>
		<td><a href="http://www.flickr.com/photos/21201950@N07/">michaellascarides</a></td>
	</tr>

	<tr>
		<td>Vimeo</td>
		<td><a href="http://vimeo.com/lascarides">lascarides</a></td>
	</tr>

	<tr>
		<td>Github</td>
		<td><a href="https://github.com/lascarides">lascarides</a></td>
	</tr>

	<tr>
		<td>Delicious</td>
		<td><a href="http://www.delicious.com/mlas">mlas</a></td>
	</tr>

	<tr>
		<td>LinkedIn</td>
		<td><a href="http://www.linkedin.com/in/lascarides">lascarides</a></td>
	</tr>

	<tr>
		<td>Tumblr</td>
		<td><a href="http://lascarides.tumblr.com/">lascarides</a></td>
	</tr>

	<tr>
		<td>Facebook</td>
		<td>Friends only, please.</td>
	</tr>

	<tr>
		<td>Blog Feed</td>
		<td><a href="/feed.xml">RSS</a>, <a href="/feed.atom">Atom</a></td>
	</tr>

	<tr>
		<td>Résumé/CV</td>
		<td><a href="/assets/pdf/michael-lascarides-cv.pdf">PDF</a></td>
	</tr>

</table>



