<img src="/img/cover.jpg" alt="Cover image">

<p><a href="/work">I make things</a>, many of which are software applications and websites. I sometimes <a href="/speaking">talk</a> about making those things, or <a href="/teaching">teach</a> people how to make their own things. I consult on design strategy, user experience, research and Web development, lately with a focus on libraries, museums and other cultural institutions.</p>

<p>I'm usually found in Brooklyn, New York but I'm operating out of Nelson, New Zealand for a while.</p>

<p>I have <a href="/assets/pdf/michael-lascarides-cv.pdf">a unique mix of skills</a>. If you think I can help you with a project, <a href="/contact">let me know</a>.<p>
