
<p>In recent years, I've traveled around the USA and other countries presenting at library and museum conferences.</p>

<h3>Selected presentations</h3>

<table class="table">
	<tr>
		<th>Event</th>
		<th>Date</th>
		<th>Watch/listen</th>
	</tr>

	<tr>
		<td>New Zealand National Digital Forum (Keynote)</td>
		<td>2011</td>
		<td><a href="http://www.r2.co.nz/20111129/michael-l.htm">Video</a>, <a href="http://www.slideshare.net/mlascarides/2011-national-digital-forum-of-new-zealand-keynote">Slides</a></td>
	</tr>

	<tr>
		<td>Auckland War Memorial Museum</td>
		<td>2011</td>
		<td></td>
	</tr>

	<tr>
		<td>Powerhouse Museum, Sydney</td>
		<td>2011</td>
		<td><a href="http://www.slideshare.net/mlascarides/design-for-crowdsourcing">Slides</a></td>
	</tr>

	<tr>
		<td>State Library of New South Wales</td>
		<td>2011</td>
		<td></td>
	</tr>

	<tr>
		<td>Hawaii Library Association</td>
		<td>2010</td>
		<td><a href="http://www.slideshare.net/mlascarides/a-digital-librarians-toolkit">Slides</a></td>
	</tr>

	<tr>
		<td>NYLINK (New York State Library Association)</td>
		<td>2010</td>
		<td></td>
	</tr>

	<tr>
		<td>Massachusetts Library Association</td>
		<td>2010</td>
		<td></td>
	</tr>

	<tr>
		<td>Columbia University Libraries Assessment Forum</td>
		<td>2009</td>
		<td><a href="http://itunes.apple.com/us/itunes-u/assessment-forum/id412489096">Audio</a></td>
	</tr>

	<tr>
		<td>NERCOMP Usability SIG</td>
		<td>2009</td>
		<td></td>
	</tr>

	<tr>
		<td>Service Excellence Symposium</td>
		<td>2009</td>
		<td></td>
	</tr>

</table>

<p>You can also download slides of my past presentations from <a href="http://www.slideshare.net/mlascarides">my Slideshare page</a>.</p>

<h3>What people said</h3>

<img src="img/speaking-gnat.png" alt="Testimonial">

<img src="img/speaking-govett.png" alt="Testimonial">

<img src="img/speaking-julian.png" alt="Testimonial">

<img src="img/speaking-sophie.png" alt="Testimonial">



