%p
	I've been a classroom instructor since 1999, and I love sharing what I know. Below are the titles of the courses I've taught (most of them full-semester courses).</p>

%h3
	School of Visual Arts

%p
	%strong
		Continuing Education:
	HTML, Next Generation Web Design, Web Programming with PHP and MySQL, Javascript

%p.noindent
	%strong
		MFA Computer Art:
	Web Programming I, Web Programming II

%h3
	New York University

%p
	%strong
		Continuing Education:
	Web Design Intensive, Information Architecture: Fundamentals, Information Architecture: Intermediate, E-commerce Design, Website Usability

%h3
	METRO Library Council

%p
	%strong
		Continuing Education:
	Google Analytics for Libraries