<p>I've been a classroom instructor since 1999, and I love sharing what I know. Below are the titles of the courses I've taught (most of them full-semester courses).</p>

<h3>School of Visual Arts</h3>

<p><strong>Continuing Education:</strong> HTML, Next Generation Web Design, Web Programming with PHP and MySQL, Javascript</p>

<p class="noindent"><strong>MFA Computer Art:</strong> Web Programming I, Web Programming II</p>

<h3>New York University</h3>

<p><strong>Continuing Education:</strong> Web Design Intensive, Information Architecture: Fundamentals, Information Architecture: Intermediate, E-commerce Design, Website Usability</p>

<h3>METRO Library Council</h3>

<p><strong>Continuing Education:</strong> Google Analytics for Libraries</p>