%h3 
	Books

%a{:href => "http://openlibrary.org/works/OL16585356W/Next-gen_library_redesign"}
	%img.bookcover{:src => "/img/lascarides-next-gen-cover.jpg", :alt => "Cover of Next-Gen Library Redesign"}

%p 
	I am the author of the 2012 book 
	%a{:href => "http://openlibrary.org/works/OL16585356W/Next-gen_library_redesign"}
		Next-Gen Library Redesign 
	from ALA TechSource. 

%p 
	From the publisher's summary: "This concise guide will help you choose and implement the techniques and best practices used by today's forward-thinking libraries to create the best possible patron experiences. You’ll learn website clean-up strategies, how to incorporate social media into your site, how to create and offer interactive and collaborative subject guides, promote your librarians with public profiles, and use crowdsourcing to create a collection with user input. And, to make it easier, you’ll find easy-to-understand explanations for technology buzzwords and acronyms."

%a{:href => "http://openlibrary.org/books/OL23109225M/Mountain_man_dance_moves"}
	%img.bookcover{:src => "/img/mountain-man-cover.jpg", :alt => "Cover of Mountain Man Dance Moves"}

%p 
	You can
	%a{:href => "http://www.scribd.com/doc/91214742/Next-Gen-Library-Redesign"}
		read a sample chapter from the book
	on Scribd.

%p 
	On a much sillier note, 
	%a{:href => "http://www.mcsweeneys.net/articles/tools-or-actions-in-photoshop-that-were-they-applicable-to-real-life-would-prove-useful-at-various-stages-of-a-relationship"}
		one of my lists 
	was published in 
	%a{:href => "http://openlibrary.org/books/OL23109225M/Mountain_man_dance_moves"}
		Mountain Man Dance Moves: The McSweeney's Book Of Lists
	= '.' 
	Technically, 
	%em
		this
	was my first paid writing gig ever. I tried to get an Awesome Unicorn on the cover of the Next-Gen book as well, but the publishers weren't having any of it, for some reason.

%h3 
	Other Publications

%p 
	%a{:href => "http://christchurchartgallery.org.nz/bulletin/171/museums-beyond-museums/"}
		Museums Beyond Museums
	March 2013, Christchurch Art Gallery Bulletin.
%p 
	%a{:href => "http://journal.code4lib.org/articles/2099"}
		An overview of the development of Infomaki
	, the in-house usability testing tool I created while at the New York Public Library, was published in Issue 8 of the Code4Lib Journal. The article also details how we used the tool to make decisions during a redesign of the NYPL website.
