%link{:href => "/css/projects/simpleSwatchPicker.css", :rel => "stylesheet"} 
%script{:src => "/js/projects/jquery.simpleSwatchPicker.min.js", :type => "text/javascript"} 
.container.main
    .row
        .span3
            %img{:src => "/img/icon-pj-ssp.png", :alt => "Simple Swatch Picker icon"}
        .span9
            %h2
                Simple Swatch Picker
            %h4
                A JQuery color picker plugin

            %a.btn.btn-large.btn-primary{:href => "https://github.com/lascarides/simpleswatchpicker/zipball/master"}
                = "Download .Zip"

            %a.btn.btn-large{:href => "https://github.com/lascarides/simpleswatchpicker"}
                Source (@ GitHub)

    .row
        .span3
            %h3.pullHed
                Why another color picker?
        .span9
            %ul
                %li
                    %strong
                        It's tiny.
                    Just 2.6kB of Javascript in the minified version, just a smidgen of CSS to go with it, and no images.
                %li
                    %strong
                        It's versatile.
                    Options control what range of colors goes in the palette, the number of rows and columns of colors, and even the size and shape of the swatches (using only CSS).
                %li
                    %strong
                        It's simple.
                    Need a full-featured Photoshop-style color picker for a design project? This ain't it. But sometimes you just want a super-basic picker for color-coding folder tabs, or inboxes, or avatars. With Simple Swatch Picker, create a text field in your application, add one line of code, and you've got it.
                %li
                    %strong
                        It's elegant.
                    No cruft, no eyedroppers, no RGB or Hex codes showing. Just a sweet little grid of chips and one big selected swatch.

            %p
                The Simple Swatch Picker installs in seconds, and attaches a beautiful rainbow of colors from either one of the preset palettes or your own custom palette.

    .row
        .span3
            %h3.pullHed
                Basic usage
        .span9

            %p
                To activate Simple Swatch Picker, simply include JQuery, the plugin file and the CSS file in your HTML page, then use the following Jquery statement to add the picker to the form field of your choice:

            %h4
                To add a Simple Swatch Picker to this hidden form field:

            %code
                &lt;input type="hidden" id="myField"&gt;

            %h4
                Add this code to your page:
            %code 
                &lt;script type="text/javascript"&gt;
                $("#myField").simpleSwatchPicker();
                &lt;/script&gt;

    .row.featuredRow
        .span3
            %h3.pullHed
                Try it here!
        .span9

            %form
                %input#myField{:type => 'hidden'}

            %a.btn#myButton
                Click here to see what color is stored in hidden field.

            %script{:type => "text/javascript"}
                $("#myField").simpleSwatchPicker();
                $("#myButton").click(function(){alert($("#myField").val()=='' ? "Color not set yet.":"Hidden form field set to '" + $("#myField").val() + "'!");});


    .row
        .span3
            %h3.pullHed
                Options
        .span9

            %p
                You can customize the look and behavior of your Simple Swatch Picker by invoking it with any of the options below. 

            %table.table
                %tr
                    %th
                        Option
                    %th
                        Description

                %tr
                    %td
                        %p
                            'palette'
                        %p.noindent
                            (One of 'default', 'moody', 'pastel', 'primary', 'warm', or 'cool')
                    %td
                        %p
                            Changes the colors in the palette to any one of the following presets:

                        %h4 
                            'default'
                        %img{:src => '/img/projects/ssp/default.png', :alt => 'Default palette'}
                        %p
                            If you don't specify a value for 'palette', you'll get this slightly desaturated, medium value set of colors.

                        %h4 
                            'pastel'
                        %img{:src => '/img/projects/ssp/pastel.png', :alt => 'Pastel palette'}
                        %p
                            Light, unsaturated colors, suitable for using as backgrounds behind black type.

                        %h4 
                            'moody'
                        %img{:src => '/img/projects/ssp/moody.png', :alt => 'Moody palette'}
                        %p
                            Dark, rich colors, suitable for using as backgrounds behind white type.

                        %h4 
                            'primary'
                        %img{:src => '/img/projects/ssp/primary.png', :alt => 'Primary palette'}
                        %p
                            Bright, sunny, saturated colors.

                        %h4 
                            'warm'
                        %img{:src => '/img/projects/ssp/warm.png', :alt => 'Warm palette'}
                        %p
                            Reds, oranges, yellows: the warmest part of the spectrum.

                        %h4 
                            'cool'
                        %img{:src => '/img/projects/ssp/cool.png', :alt => 'Cool palette'}
                        %p
                            Cyans, blues, indigos: the coolest part of the spectrum.
                %tr
                    %td
                        %p
                            'rows'
                        %p.noindent
                            (integer)
                    %td
                        %p
                            Number of rows of color chips in the palette. Practical maximum depends on the layout of your page.
                %tr
                    %td
                        %p
                            'cols'
                        %p.noindent
                            (integer)
                    %td
                        %p
                            Number of columns of color chips in the palette. Practical maximum depends on the layout of your page.

                %tr
                    %td
                        %p
                            'selectMessage'
                        %p.noindent
                            (string)
                    %td
                        %p
                            The message displayed when no color is yet selected. Default is "click to choose color".

                %tr
                    %td
                        %p
                            'swatchContainer'
                        %p.noindent
                            (string or JQuery object)
                    %td
                        %p
                            JQuery/HTML object or CSS selector of the container on the page where you want to draw the picker. 
                        %p
                            By default, the picker will be drawn immediately after the form field you're attaching it to; even if it's a hidden form field, the picker will be drawn in the container that contains the field. For layout reasons, you may want it somewhere else, in which case you can set this option.
                        %p 
                            (Note: You can also use this picker with a text field instead of a hidden field, but why would you? Hex codes are not friendly to most users.)

                %tr
                    %td
                        %p
                            'hue'
                        %p.noindent
                            (Array: float, float, 'rows'|'cols') 
                    %td
                        %p
                            To control the color range of the palette, you can set the numerical range of each of the three color components hue, saturation and value. 
                        %p
                            The 'hue' option takes as an argument an array of three items. The first two are decimal numbers between 0.0 and 360.0 to indicate the hue value on the spectrum (red, orange, yellow, green, cyan, blue, violet). 
                        %p
                            The first number indicates the value at the beginning of the range, and the second number indicates the value at the end. You can have a higher number first and a lower number second if you want to descend.
                        %p 
                            The third item in the array should be either 'rows' or 'cols' to indicate in which direction the hues should be spread out. 
                        %p
                            Note that hue is a circular range; both 0 and 360 are red! If you want a full range of colors, you'll probably want to set this to 0 to 320 or so. Otherwise, your first and last columns will be identical!
                        %p
                            In the default palette, the 'hue' option is set to [0.0, 300.0, 'cols'], meaning hues are spread across palette columns from 0 on the left to 300 on the right. 

                %tr
                    %td
                        %p
                            'saturation'
                        %p.noindent
                            (Array: float, float, 'rows'|'cols') 
                    %td
                        %p
                            The 'saturation' option takes as an argument an array of three items. The first two are decimal numbers between 0.0 and 100.0 to indicate the saturation of the color. 
                        %p
                            The first number indicates the saturation at the beginning of the range, and the second number indicates the saturation at the end. You can have a higher number first and a lower number second if you want to descend.
                        %p 
                            The third item in the array should be either 'rows' or 'cols' to indicate in which direction the saturation should be spread out. 
                        %p
                            Saturation is a measure of how vivid a color is. A saturation of 100 means full vivid reds, blues, greens, what have you (according to the hue setting). A saturation of 0 means a purely neutral gray, no matter the hue setting.
                        %p
                            In the default palette, the 'saturation' option is set to [70.0, 100.0, 'rows'], meaning that the topmost row has a saturation of 70 and the bottommost has a saturation of 100. 

                %tr
                    %td
                        %p
                            'value'
                        %p.noindent
                            (Array: float, float, 'rows'|'cols') 
                    %td
                        %p
                            The 'value' option takes as an argument an array of three items. The first two are decimal numbers between 0.0 and 100.0 to indicate the value of the color. 
                        %p
                            The first number indicates the value at the beginning of the range, and the second number indicates the value at the end. You can have a higher number first and a lower number second if you want to descend.
                        %p 
                            The third item in the array should be either 'rows' or 'cols' to indicate in which direction the color value should be spread out. 
                        %p
                            Color Value is a measure of how light or dark a color is. A value of 100 means the brightest color (if saturation is high), or pastel or white colors (if saturation is low). A saturation of 0 means black, no matter the setting of the other two numbers.
                        %p
                            In the default palette, the 'value' option is set to [40.0, 98.0, 'rows'], meaning that the topmost row has a color value of 40 and the bottommost has a value of 98. 

    .row.featuredRow
        .span3
            %h3.pullHed
                Customized examples
        .span9

            %h4
                With 'palette':'pastel'

            %form
                %input#myCustomField{:type => 'hidden'}

            %script{:type => "text/javascript"}
                $("#myCustomField").simpleSwatchPicker({'palette' : 'pastel'});

            %code= "$('#myCustomField').simpleSwatchPicker({\n\t'palette' : 'pastel'\n});"


            %h4
                12×12 grid with custom palette

            %form
                %input#myCustomField2{:type => 'hidden'}

            %script{:type => "text/javascript"}
                $('#myCustomField2').simpleSwatchPicker({'rows' : 12, 'cols' : 12, 'hue':[5.0,200.0,'rows'], 'saturation':[25.0,75.0,'cols'], 'value':[100.0,30.0,'cols']});

            %code= "$('#myCustomField2').simpleSwatchPicker({\n\t'rows' : 12,\n\t'cols' : 12,\n\t'hue':[5.0,200.0,'rows'],\n\t'saturation':[25.0,75.0,'cols'],\n\t'value':[100.0,30.0,'cols']\n});"

